package config

const (
	PrimaryConnectionString = "AccountEndpoint=COSMOSDBENDPOINT;AccountKey=ACCOUNTKEY"
	CosmosDbEndpoint        = "COSMOSDBENDPOINT"
	CosmosDbKey             = "ACCOUNTKEY"
	DatabaseName            = "DATABASENAME"
	ContainerName           = "customer"
	PartitionKey            = "/customerId"
)
